<style >
  .body{
    background-image: url(https://sbims.com/wp-content/uploads/2017/04/Association_Membership_Networking_Connections.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
</style>

<div class="container">
  <div style="padding: 10px;" class="col-md-6 mx-auto">
    <div class="card mb-3">
      <h3 style="text-align: center;" class="card-header">Click on user to view their wall</h3>
      <div class="card-body">
        <ul style="list-style-type: none;" >
          <% @walls.each do |wall| %>
            <li style="font-size: 20px;"><%= link_to wall.user_name, wall_path(wall[:id]) %></li>
          <% end %>
        </ul>
      </div>
     </div>
  </div>
</div>